@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
.home {
  height: 100vh;
  width: 100vw;
  background: url("./images/home.jpg") no-repeat center/cover;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  padding: 2rem;
}
nav img {
  height: 25px;
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  transition: 0.5s;
}
nav a:hover {
  color: #ddcb2b;
}

.home .content {
  margin-top: 120px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home .content .one {
  color: whitesmoke;
  font-size: 35px;
  font-weight: 400;
}

.home .content .two {
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  font-weight: bolder;
}
.home .content button {
  padding: 10px 15px;
  height: 45px;
  width: 150px;
  outline: none;
  border: none;
  background-color: rgb(248, 230, 68);
  color: white;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.home .content button:hover {
  background-color: whitesmoke;
  color: rgb(248, 230, 68);
}

/* services section */
.services {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.services .intro {
  padding: 15px;
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services .intro .title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.services .intro .sub-title {
  font-style: italic;
  color: rgb(94, 92, 92);
}

.services .cards {
  width: 65%;
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services .cards .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.services .cards .card h4 {
  font-family: "Open Sans", sans-serif;
}

.services .cards .card p {
  color: gray;
  font-size: medium;
}

/* CONTACT US SECTION  */
.contact-us {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url(./images/bg2.jpg) no-repeat top center/cover;
  width: 100vw;
}

.contact-us .contact-us-title {
  padding: 15px;
  height: 15%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-us .contact-us-title h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.contact-us .contact-us-title p {
  color: gray;
  font-style: italic;
}

.contact-us .contact-us-form {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-us .contact-us-form .inputs {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-us .contact-us-form .inputs .info {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-us .contact-us-form .inputs .info input {
  height: 15%;
  width: 100%;
  padding: 20px 10px;
  outline: none;
}
.contact-us .contact-us-form .inputs textarea {
  width: 45%;
  height: 90%;
  padding: 15px 10px;
  outline: none;
}

.contact-us .contact-us-form ::placeholder {
  font-size: 13px;
}

.contact-us .contact-us-form button {
  padding: 10px 15px;
  height: 45px;
  width: 150px;
  outline: none;
  border: none;
  background-color: rgb(248, 230, 68);
  color: whitesmoke;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-us .contact-us-form button:hover {
  background-color: whitesmoke;
  color: rgb(248, 230, 68);
}

/* footer begins */
footer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

footer .footer-content {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-content p {
  font-family: "Open Sans", sans-serif;
  color: rgb(88, 87, 87);
}

footer .footer-content .social-media-profiles {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
footer .footer-content .social-media-profiles a {
  cursor: pointer;
}
